<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>find books</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{% static 'search.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form method="GET">
        <form action="">
            <input type="search">
        </form>
    </form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Title</th>
                    <th>Author(s)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>