/* width: 100%;
    font-size: .9em;
    color: #333333;
    margin: 0.3em 0 1em 0;
    border: none;
    background: none;
    border-bottom: 1px solid #BA494B;
    padding: 0.5em 0.1em;
    transition: all 0.5s ease;
    */

* {
    font-family: 'Helvetica';
}

form {
    margin-top: 20px;
    text-align: center;
}

input {
    border: none;
    background: none;
    border-bottom: 2px solid #92D7E7;
    width: 80vw;
    font-size: 100%;
    color: #333333;
}

table {
    text-align: left;
    margin: 1% auto;
}

th {
    /* background: url('img2.png'); */
    padding: 1% 3%;
    color: #E5642B;
    margin-bottom: 2%;
}

td {
    width: 25%;
}

div {
    text-align: center;
    padding: 3%;
}